.comment{
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    margin-bottom: 1.5rem;
    row-gap: 2rem;
    border-radius: 1rem;
}
.self{
    background-color: rgb(222, 228, 250);
}

@media (min-width:56.25rem){
 .comment{
    grid-template-columns: auto 1fr 1fr;
 }   
}