.container{
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: white;
    margin-bottom: 1.5rem;
    padding: 2rem;
    row-gap: 1rem;
    column-gap: 1rem;

}
.container textarea{
    font-size: 1.8rem;
    height: 10rem;
    outline: none;
    border: 1px solid var(--gray2);
    padding: 1rem;
    grid-column: 2/4;
    color: var(--gray2);
    font-weight: 500;

    
}
.container textarea:focus{
    border: 2px solid var(--primary1);
}
.container button{
    display: inline-block;
    color: white;
    background-color: var(--primary1);
    font-weight: 500;
    border: none;
    padding: 1rem 2rem;
    grid-column: 3/4;
    cursor: pointer;
    transition: .2s;
    border-radius: .5rem;
}
.container button:hover{
    background-color: var(--primary3);
}
@media (min-width:56.25rem){
    .container textarea{
        grid-column: 2/3;
    }
    .container button{
        align-self: start;
    }
}